.btn-cart path
{
	// background-image: linear-gradient(0.32turn, $warning, $info);
	fill: url(#cartGradient);
}

#cartToggle
{
	top: 20px;
	left: auto;
	right: 20px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 2px solid $warning;
	position: fixed;
	z-index: 500;
	transition: left 0s ease-out;

	& #howCountCart
	{
		bottom: 0;
		left: 0;
		border-radius: 50%;
		width: 1.5rem;
		height: 1.5rem;
	}
}