.card-main
{
	height: auto;
	
	& .img-card
	{
		height: 250px;
		width: auto;
		object-fit: cover;
	}
	& .card-title
	{
		height: 40px;
	}
}


@media all and (min-width: 1600px)
{
	.card-main
	{
		& .img-card
		{
			height: 400px;
		}
	}
}


