.card-cart
{
	min-width: 260px!important;
	// width: 290px!important;
	max-height: 520px!important;
	height: auto;
	// background-image: linear-gradient(rgba($dark, 0.4), $orinoco 40% 40%, rgba($dark, 0.1));
	font-family: serif;
	border: 2px solid $orinoco!important;

	& card-title
	{
		height: 40px;
	}
}

h3[id^="cardCartName_"]
{
	box-sizing: border-box;
	position: relative;
	width: 100%;
	z-index: 2;
	&::after
	{
		content: "";
		display: block;
		height: 0;
		width: 0;
		left: -61px;
		position: absolute;
		background-color: transparent;
		border-top: 12px solid black;
		border-left: 12px solid transparent;
		border-bottom: 12px solid transparent;
		border-right: 12px solid black;
		z-index: -1;
		top: 100%;
	}

	&::before
	{
		content: "";
		background-color: $dark;
		display: block;
		height: auto;
		width: 150%;
		max-width: 350px;
		left: -61px;
		position: absolute;
		border: 2px solid black;
		top: 0;
		bottom: 0;
		z-index: -1;
	}
}

#productVariant
{
	width: 100%;
	height: 60px;
	justify-content: center;
	margin: 0;
	& *
	{
		border-right: 2px solid $warning;
		font-size: 14px;
		background-color: $primary;
		max-height: 20px;
		margin-top: 3px;

	}
}