.card-main
{
	// min-width: 260px!important;
	// width: 290px!important;
	// max-height: 520px!important;
	height: auto;
	// background-image: linear-gradient(rgba($dark, 0.1), $orinoco 40% 40%, rgba($dark, 0.1));
	// font-family: serif;
	// border: 2px solid $dark!important;
	// border-top: 2px solid $orinoco!important;

	& .img-card
	{
		height: 250px;
		width: auto;
		object-fit: cover;
	}
	& .card-title
	{
		height: 40px;
	}
}


@media all and (min-width: 1600px)
{
	.card-main
	{
		& .img-card
		{
			height: 400px;
		}
	}
}


