#msform input:focus,
{
    border: none;
    font-weight: bold;
    border-bottom: 2px solid $warning;

}
.modal-multi, .modal-multi .modal-content, .modal-multi .modal-dialog
{
   min-width: 80%!important;
   min-height: 100vh!important;
   margin: 0 auto!important;
}