@keyframes nop
{
    0%
    {
        transform: translateX(0);
    }
        25%
    {
        transform: translateX(-20px);
    }
        75%
    {
        transform: translateX(20px);
    }
        100%
    {
        transform: translateX(0);
    }
}

.unvalable
{
    animation: nop 0.2s;

    & + small
    {
        display: block!important;
        color: red;
        font-weight: bold;
    }
}