$primary: #37474f;
$secondary: #4e342e;
$info: #8f5bfe;
$warning: #e08718;
$dark: #102027;
$orinoco: #f3e9f1;
$custom-cameras: lighten(#37474f, 15%);


$theme-colors: ();
$theme-colors: map-merge(
  (
    "orinoco":            $orinoco,
    "custom-cameras": 		$custom-cameras
  ),
  $theme-colors
);

$enable-shadows: true;
$enable-gradients: true;

$media_large: "@media all and (min-width: )";
